html {
  margin: 0;
  padding: 0;

}

body {
  margin: 0;
  padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

i {
	cursor: pointer;
}

#parent{
    position:absolute;
    height:100%;
    margin:0;
    padding:0;
    width:100%;
}
#div1{
    position:relative;
    float:left;
    height:100%;
    width:15%;
    max-width: 15%;
    min-width: 40px;
    border-right: 1px solid #E8E5E5;
}

#menuOptions1 {
	border-bottom: 1px solid #d1d1d1;
	margin-bottom: 5px;
	padding-bottom: 10px;
}

.user-profile {
	border-radius: 50%;
	overflow: hidden;
	padding: 10px 10px;
}

.user-profile img {
	border-radius: 50%;
	width: 100%;
}

.user-image {
	border-radius: 50%;
}

.optionsUl {
	display: block;
	background-color: white;
	padding: 0;
	border-bottom: 1px solid #D1D1D1;
}

#user-container {
	background-color: white; height: 40px;
	overflow-x: hidden;
	margin-bottom: 5px;
	padding-left: 5px;
	cursor: pointer;



}

#user-container::-webkit-scrollbar {
	display: none;
}

.status {
	padding: 5px;
	border-radius: 50%;
	background-color: #1adda4;
	float: right;
	margin-top: 15px;
	margin-right: 10px;
}


#div2{
    position:relative;
    float:left;
    height:100%;
    width:65%;
    background-color:#FFF;
    border-right: 1px solid #E8E5E5;
}

.chat-menu {
	display: flex;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	height: 5%;
	overflow-x: auto;
	border-bottom: 1px solid #1ddced;
	padding: 0 40px;
}

.options li {
	padding: 0 20px;
	float: left;
}

.chatlogs {
	padding: 10px;
	width: 100%;
	height: 85%;
	overflow-y: scroll;
	overflow-x: hidden;

}
.chatlogs::-webkit-scrollbar {
	width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0,0,0,.1);
}

.chat {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 10px;
}
.chat .user-photo {
	width: 60px;
	height: 60px;
	background: #ccc;
	border-radius: 50%;
	overflow: hidden;
}

.chat .user-photo img {
	width: 100%;
}

.chat .chat-message {
	width: 80%;
	padding:  15px;
	margin: 5px 10px 0;
	background: #1ddced;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
}

.friend .chat-message {
	background: #1adda4;
}

.self .chat-message {
	background: #1ddced;
	order: -1;

}

.chat-form {
	display: flex;
	align-items: flex-start;
	border-top: 1px solid #1adced; 
	height: 10%;

}

.chat-form textarea {
	background: #fbfbfb;
	width: 100%;
	
	border: none;
	border-radius: 3px;
	resize: none;
	padding: 10px;
	
	color: #333;
}


#div3{
    position:relative;
    float:left;
    height:100%;
    width:20%;
    /*background-color:#CFC;*/
    max-width: 20%;
    min-width: 10px;
}

#div1togglewidth {
	cursor: pointer;
	margin-right: 5px;
	margin-left: 5px;
}

#div3togglewidth {
	cursor: pointer;
	margin-right: 5px;
	margin-left: 5px;
}



.rooms {
	padding-top: 10px;
	border-bottom: 1px solid #d1d1d1;
}

.room {
	background-color: white; height: 40px;
	overflow-x: hidden;
	margin-bottom: 5px;
	padding-left: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;

	
}

.room .user-image {
	margin-right: 5px;
}

#roomTitle {
	margin-right: 10px;
}

.group {
	font-size: 11px;
	margin-right: 10px;
	padding: 5px;

}














/*begin extra classes*/

.display-block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.padding-0 {
	padding: 0px;
}

.margin-0 {
	margin: 0px;
}

.text-align-right {
	text-align: right;
}

.text-align-left {
	text-align: left;
}

.width100 {
	width: 100%;
}

.height100 {
	height: 100%;
}

.width0 {
	width: 0%;
}

.height0 {
	height: 0%;
}

.positionabsolute {
	position: absolute;
}

.float-right {
	float: right;
}

@media (max-width: 768px) {
	.mediaquery1 {
		float: none;
	}
}